<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Video{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            {% if app.session %}
                {{ app.session.get('nickname') }} <br><br>
            {% endif %}
            <center>
                <video controls style="width:720px;height:360px;" poster="poster.png">
                    <source src="{{ video.link }}" type="video/mp4;" codecs="avc1.42E01E, mp4a.40.2" />
                </video>
                {{ render(controller('AppBundle:Comments:commentVideo', {'video':video})) }}
            </center>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
